<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondPage"
            android:label="Second Page"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:screenOrientation="portrait"
            android:resource="@array/preloaded_fonts"/>

        <activity android:name=".StandardRoomPage"
            android:label="Standard Room Page"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".Contact"
            android:label="Contact"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".RoomWithSeaView"
            android:label="Room With Sea View"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".RoomWithPrivatePool"
            android:label="Room With Private Pool"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".LuxurySuite"
            android:label="Luxury Suite"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".Restaurant"
            android:label="Restaurant"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

    </application>

</manifest>